.paragraphs-item-image-tooltips, .field-name-field-tooltip-base-image .image-preview {
  position: relative;
}
.field-name-field-tooltip-base-image .tip.active img {
  border: 2px solid #008000;
}

.field-name-field-tooltip-base-image .tip {
  height: 0;
}

.tooltips-empty-warning {
  padding: 20px;
  background-color: #ff9800;
  color: white;
}

.tooltips-empty-warning .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.tooltips-empty-warning .closebtn:hover {
  color: black;
}
